.red-text {
  color: red;
}

.blue-text {
  color:blue;
}

.green-text {
  color: green;
}

.grey {
  background-color: grey;
}

.flex-c {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-r {
  display: flex;
  -webkit-flex: row;
  -ms-flex: row;
  flex: row;
}

.center {
  align-: ;
}

.margin {
  margin-left: 50px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 70px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D3D3D3;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}
