

.red-text {
  color: red;
}

.blue-text {
  color:blue;
}

.green-text {
  color: green;
}

.grey {
  background-color: grey;
}

ul {

}
.flex-c {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-r {
  display: flex;
  -webkit-flex: row;
  -ms-flex: row;
  flex: row;
}

.center {
  align-: ;
}

.margin {
  margin-left: 50px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 70px;
}

#no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav {
  display: flex;
  flex-flow: row wrap;

  background-color: #D3D3D3;
  justify-content: center;
}


.nav li {

}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.square {
  width: 100%;
  height: auto;
  display: flex;
  flex-fow: column wrap;
}
.square div {
  width: 50%;
}
@media screen and (max-width: 400px) {
  .nav {
    flex-flow: column wrap;
  }
  .square {
    flex-flow: row wrap;
  }
  .square div {
    width: 100%;
  }
}
